services:
  - type: web
    name: mtaani-liquor-store
    env: static
    buildCommand: "echo 'No build required'"
    staticPublishPath: .
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
    envVars:
      - key: NODE_ENV
        value: production
